.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);

  .header {
    display: flex;
    align-items: center;
    gap: var(--spacing);
  }

  .tagInputContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    button {
      margin-left: 0;
    }
  }
}

.buttonsContainer {
  display: flex;
  gap: var(--spacing);

  button {
    margin: 0;
  }

  .delete {
    background-color: var(--delete-color);
  }
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: calc(var(--spacing) / 2);
}

.tag {
  cursor: pointer;
  white-space: pre;
  font-size: .9rem;
  font-family: var(--font-family);
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.selected {
  background-color: var(--text-color);
  color: white;
}