.homePage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  .date {
    width: 100%;
    text-align: center;
  }

  .addSession {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding: 0;
    gap: var(--spacing);
    background: none !important;
    color: var(--text-color);

    span {
      font-size: 1rem;
    }

    .addSessionIcon {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: center;
      padding: calc(var(--spacing) / 3);
      background-color: var(--background-color);
      border-radius: var(--border-radius);
    }
  }
}