.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: var(--spacing);
  min-height: 100%;
  padding: var(--spacing);

  .inputContainer {
    gap: calc(var(--spacing) / 2);
    display: flex;
    flex-direction: column;
  }

  p {
    color: var(--text-color-light);
    margin-top: calc(var(--spacing) * -0.5);
  }

  button[type="submit"] {
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.error {
  color: var(--error-color);
  font-size: 0.9rem;
}

.links {
  display: flex;
  align-items: baseline;
  gap: calc(var(--spacing) / 4);
  margin-top: calc(var(--spacing) * 0.5);
  padding: 0 calc(var(--spacing) / 2);
  * {
    margin: 0;
  }
  span {
    font-size: 0.9rem;
  }
}

.linkButton {
  background: none;
  border: none;
  margin: 0;
  color: var(--primary-color);
  font-size: 0.95rem;
  text-decoration: underline;
  cursor: pointer;
  padding: calc(var(--spacing) / 2) 0;
} 