.timerContainer {
  display: flex;
  flex-direction: column;

  input {
    font-size: 5rem;
    font-family: "Kalnia", serif;
    text-align: center;
    width: 90vw;
  }

  .timer {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
}

.timerHeader {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  small {
    display: flex;
    gap: .25rem;
    align-items: center;
  }
}

.muteButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;

  &:hover {
    color: var(--primary-color);
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  margin: 1rem 0;
  font-size: 2rem;

  button, span {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary-color);
    }
  }

  .playButton {
    transform: rotate(90deg);
  }

  .resetButton {
    transform: rotate(-90deg) scaleY(-1);
  }
}

.timerContainer {
  position: relative;
}

.timeInputWrapper {
  position: relative;
}

.timeDisplay {
  width: 90vw;
  text-align: center;
}

.timePicker {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100px;
  height: 100%;
}