.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
  min-height: 100%;
  padding: var(--spacing);

  h1 {
    color: var(--text-color);
    margin-bottom: var(--spacing);
  }

  p {
    color: var(--text-color-light);
  }
} 