.videoContainer {
  display: flex;
  margin: auto;
  align-items: center;
  aspect-ratio: 16/9;
}

.youtubeVideo iframe {
  border-radius: var(--border-radius);
  min-width: calc(100svw - 2rem);

  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}