.videoContainer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  aspect-ratio: 16/9;
}

.youtubeVideo iframe {
  border-radius: var(--border-radius);
  width: calc(100vw - 2rem);
  aspect-ratio: 16/9;
}