.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100svh;

  .inputContainer {
    gap: calc(var(--spacing) / 2);
    display: flex;
    flex-direction: column;
  }
}